!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "App"
      %meta{:content => content_for?(:description) ? yield(:description) : "App", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.page-header
      .container
        = image_tag 'logo.png', class: "logo"
        -#= render 'layouts/navigation'
        -#= render 'layouts/messages'

        %nav.page-navigation
          %ul.navigation-items
            %li.item.active= link_to 'Join'
            %li.item= link_to 'Log in'
            %li.item= link_to 'Watch'
            %li.item= link_to 'Upload'

    .container
      #main.page-main{:role => "main"}
        = yield
        .videos
          %article.video.featured
            %h1.video-title= link_to "You don't know 'if' by Ron Evans"
            = image_tag 'http://img.youtube.com/vi/gOOQQ1H5_hs/0.jpg', class: 'thumbnail'
            .video-details
              %span.episode-number
                EPISODE #1 -
              %span.episode-date
                Nov 19, 2012 - 
              %span.episode-comments
                0 comments
            .video-length
              (8 minutes)
            .video-description
              %p Ron Evans delivers this first in a series Ruby fundamentals for beginners. The fundamentals of the 'if' statement
            .video-actions
              = render 'shared/add_this'
          -#- 3.times do
            %article.video
              %h1.video-title= link_to 'Importing CSV and Excel'
              .thumbnail
                = image_tag 'placeholder-video-small.png'
              .video-details
                %span.episode-number
                  EPISODE #397 -
                %span.episode-date
                  Dec 09, 2012 - 
                %span.episode-comments
                  6 comments
              .video-length
                (15 minutes)
              .video-description
                %p Allow users to import records into the database by uploading a CSV or Excel document. Here I show how to use Roo to parse these files and present a solution for validations.

      .page-sidebar
        .module.social-sites
          = render "shared/social_links"
        .search.module
          %h1.module-title Search
          %form
            = text_field_tag 'search', '', placeholder: 'Search more easily using tags'
        .module
          %h1.module-title Categories
          %ul.categories
            - 34.times do
              %li.category= link_to 'ActiveRecord'
        .module.advertising
          %h1.module-title Advertising
          = image_tag 'http://placehold.it/300x96', class: 'ad-300'
          = image_tag 'http://placehold.it/146x96', class: 'ad-146'
          = image_tag 'http://placehold.it/146x96', class: 'ad-146'
        .module.help
          %h1.module-title Help
          %p If you have questions about. You can look also here:  #{link_to 'Help'} / #{link_to 'FAQ'}.
    .page-footer 
      .container
        .sitemap
          %h1.links-title Ruby Made Simple
          %ul.links
            %li.link= link_to 'About Ruby'
            %li.link= link_to 'Developers'
        = render "shared/social_links"
    .page-copyright
      .container
        %span.rights Ruby Made Simple. All rights reserved.
        %ul.links
          %li.link= link_to 'Terms'
          %li.link= link_to 'Copyright'
          %li.link= link_to 'Site Map'
        = link_to 'http://www.hybridgroup.com' do
          = image_tag 'hybridgroup.png', class: 'logo-hybridgroup'




    %footer
    / ! end of #container
